# Django
DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True

# PostgreSQL
POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=change-this-password
POSTGRES_HOST=db
POSTGRES_PORT=5432